@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Mulish', sans-serif;
    margin: 0;
}

.light-theme{
    --bg-color :  #ffffff;
    --txt-color : #000000;
}

.dark-theme{
    --bg-color : #000000;
    --txt-color :#ffffff;
}

#header{
    background-color: var(--bg-color);
    color: var(--txt-color);
}

.name-brand{
    color: blue;
}

.nav-link{
    font-weight: 600;
}

.header-title{
    font-size: 42px;
    font-weight: 800;
}

.header-subtitle{
    font-size: 18px;
    color: rgb(92, 92, 92);
}

.btn-get-start{
    display: inline-block;
    padding: 8px 25px;
    border-radius: 50px;
    text-decoration: none;
    border: 1px solid blue;
    color: --txt-color ;
    background-color: blue;
    transition: .5s;
}

.btn-get-start:hover{
    background-color: --txt-color;
    color: blue;
}

.animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both ;
}

@-webkit-keyframes up-down {
    0%   {transform: translateY(10px);}
    100%   {transform: translateY(-10px);}
  }

  @keyframes up-down {
    0%   {transform: translateY(10px);}
    100%   {transform: translateY(-10px);}
  }
